<a href="https://colab.research.google.com/github/a-forty-two/AIOpenAI22Jan24/blob/main/AiOpenAI001_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.ipynb -> notebook -> server/client system (web based)


.py -> script -> portable executable

In [ ]:
# data structures:

# defined by the language
#   arrays (list), tuples, sets, dictionaries

# user-defined
#   class

In [2]:
# list-> square brackets; indexable, mutable
#           location was preserved!
list1 = ['hello', 'bye', 3.14, True, 'pikachu']
print(list1[0]) # first element
print(list1[-2]) # second to last element

hello
True

In [3]:
list1[4] = 42
list1

['hello', 'bye', 3.14, True, 42]

In [4]:
# Tuples-> round brackets;indexable, non-mutable
#           location was preserved!
tup1 = ('hello', 'bye', 3.14, True, 'pikachu')
print(list1[0]) # first element
print(list1[-2]) # second to last element

hello
True

In [5]:
# CHANGING THE DATA IS NOT ALLOWED!
tup1[0] = 42
# ERROR EXPECTED

TypeError: 'tuple' object does not support item assignment

In [7]:
# Set -> mathematical set-> no duplicates
# { apple, apple , banana} = {apple, banana}
# position matter? NO!
# {apple, banana} = {banana, apple}
set1 = {42, 42, 'hello',42, -1, 1, False, True, 0.0, 3.14}
print(set1)

{False, 1, 3.14, 'hello', 42, -1}

In [8]:
# SET IS NOT INDEXABLE
set1[2]
# error is expected

TypeError: 'set' object is not subscriptable

In [9]:
# set is orderless -> NO ORDER, NO INDEX

set2 = { 1,2,3,4, tup1}

In [10]:
set2

{('hello', 'bye', 3.14, True, 'pikachu'), 1, 2, 3, 4}

In [11]:
tup2 = (set1, set2)

In [12]:
tup2

({-1, 1, 3.14, 42, False, 'hello'},
 {('hello', 'bye', 3.14, True, 'pikachu'), 1, 2, 3, 4})

In [13]:
l1 = [ set2, tup2]

In [14]:
l1

[{('hello', 'bye', 3.14, True, 'pikachu'), 1, 2, 3, 4},
 ({-1, 1, 3.14, 42, False, 'hello'},
  {('hello', 'bye', 3.14, True, 'pikachu'), 1, 2, 3, 4})]

In [ ]:
# Tensors -> FLOW OF DATA

# 42 -> 0 rank tensor -> SCALAR
# [1,2,3,4....40,41,42..] -> 1 rank tensor-> VECTOR
# [ [1,2],[2,3]] -> rank 2 tensor -> MATRIX
# [[[ 1,2], [2,3]],[[ 1,2], [2,3]]-> rank 3 tensor-> CUBE
# Stacks of Cubes-> Nth dimension or Nth Rank Tensors

In [15]:
# Dictionary-> Set of Key-Value pairs;
random_dict = { } # like a set
random_dict = { "hello":"world", "hi":"bye", 1:42, True:-42}
print(random_dict["hi"])

'bye'

In [16]:
print(random_dict[True])

-42

In [17]:
# read rectangular
# datastructure=> excel sheets, CSV, sql database
# Table-> Dictionary
# keys-> column names; Values-> LISTS containing values!
table1 = {
    "index" : [1,2,3,4],
    "names" : ["henry", "Pikachu", "John", "pappu"],
    "age" : [10,20,45, 101]

}
table1

{'index': [1, 2, 3, 4],
 'names': ['henry', 'Pikachu', 'John', 'pappu'],
 'age': [10, 20, 45, 101]}

In [24]:
import pandas as pd
mytable = pd.DataFrame(table1)
mytable.set_index('index')

         names  age
index
1        henry   10
2      Pikachu   20
3         John   45
4        pappu  101